<!-- <div class="dashboard-container flex-column align-center">
    <h1 class="primary">Add Blog</h1>
    <form class="dashboard-form flex-column">
        <div class="flex-row justify-center full-width">
            <h2 class="heading-style-five weight-600">Basic Details:</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Blog Title</mat-label>
            <input matInput placeholder="Enter Blog Title...">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Blog Description</mat-label>
            <input matInput placeholder="Enter Blog Description...">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="flex-row justify-center full-width">
            <h2 class="heading-style-five weight-600">Add List:</h2>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Add List Title:</mat-label>
            <input matInput placeholder="Enter Title for List...">
        </mat-form-field>
        <div>
            <h3>List Item </h3>
            <mat-form-field appearance="fill">
                <mat-label>Add List Item:</mat-label>
                <input matInput placeholder="Enter Item for List...">
            </mat-form-field>
        </div>
    </form>
</div> -->
<header class="dashboard-header weight-600 heading-style-six">
    <div class="hero" color-dir color="default-black"><span>Kala</span><span color-dir color="accent"
            class="gato weight-600">Gato</span></div>
</header>
<div class="dashboard">
    <div #dashboard class="dashboard-container">
        <div class="left" [formGroup]="dashboardForm">
            <h1 class="font-type26-primary m0">
                <textarea autocomplete="off" appTextareaAutoresize rows="1" class="capitalize" formControlName="title"
                    placeholder="Enter your awesome title here..."></textarea>
            </h1>
            <time *ngIf="!getFormDate()" class="description" datetime="2022-07-21">
                <input type="date" class="date" formControlName="date" />
            </time>
            <time *ngIf="getFormDate()" class="description flex-row gap-15 align-center " datetime="2022-07-21">
                {{getFormDate()}} <span color-dir color="red" class="body-text pointer"
                    (click)="changeDate()">Change</span>
            </time>
            <div *ngIf="!getFormData('mainImg')" class="img-picker flex-column justify-center align-center">
                <label for="main-image">
                    <mat-icon class="add-photo-icon">add_photo_alternate</mat-icon>
                </label>
            </div>
            <input (change)="loadImage($event, 'mainImg')" accept="image/gif, image/jpeg, image/png" class="hidden"
                type="file" id="main-image" />
            <div *ngIf="getFormData('mainImg')" class="blog-main-img-container">
                <img class="blog-main-image" [src]="getFormData('mainImg')" alt="Image not found">
                <div class="remove-image">
                    <mat-icon title="Delete Image" (click)="removeFormControlValue('mainImg')"
                        class="remove-image-icon">remove_circle_outline</mat-icon>
                </div>
            </div>
            <p class="description">
                <textarea appTextareaAutoresize placeholder="Enter your description here..." formControlName="description"></textarea>
            </p>
            <h2 class="list-heading">
                <textarea autocomplete="off" appTextareaAutoresize placeholder="Enter List Title here..." formControlName="listTitle"></textarea>
            </h2>
            <ol formArrayName="listItem">
                <li *ngFor="let item of listItemControls(); let i=index" [formGroupName]="i">
                    <span class="list-item-title">
                        <textarea autocomplete="off" appTextareaAutoresize
                            placeholder="List Item Title..." formControlName="itemTitle"></textarea>
                    </span>
                    <div *ngIf="!getListImgData(item.value)" class="img-picker flex-column justify-center align-center">
                        <label for="list-image">
                            <mat-icon class="add-photo-icon" (click)="sendData(item.value)">add_photo_alternate</mat-icon>
                        </label>
                    </div>
                    <input (change)="loadListImage($event)" accept="image/gif, image/jpeg, image/png"
                        class="hidden" type="file" id="list-image"/>
                    <div class="list-item-img-container" *ngIf="getListImgData(item.value)">
                        <img class="list-item-img" [src]="getListImgData(item.value)" alt="Image not found" />
                        <div class="remove-image">
                            <mat-icon title="Delete Image" (click)="removeListImgData(item.value)"
                                class="remove-image-icon">remove_circle_outline</mat-icon>
                        </div>
                    </div>
                    <span class="list-item-body">
                        <textarea class="list-item-body-textarea" autocomplete="off" appTextareaAutoresize
                            placeholder="List Item Description..." formControlName="itemDescription"></textarea>
                    </span>
                    <div class="remove-list-container">
                        <mat-icon title="Delete Image" color-dir color="red" class="remove-list-item pointer"
                            (click)="removeListItem(item)">remove_circle_outline</mat-icon>
                    </div>
                </li>
            </ol>
        </div>
        <div class="add-item-container flex-row justify-center">
            <mat-icon class="add-item pointer" (click)="addListItem()" title="Add Item" color="primary">add_circle
            </mat-icon>
        </div>
        <div class="flex-row justify-end">
            <button mat-raised-button color="primary" (click)="processData(dashboardForm)"> Add Blog </button>
        </div>
    </div>
</div>